/*=====================
  Custom variables
======================*/
:root {
  --bg-dark-1: #191919;
  --bg-trans-dark-2: rgba(0, 0, 0, 0.7);
  --skin-color: #e46c37;
  --skin-color-2: #e84e2a;
}

/*=====================
  Global styles
======================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

::before,
::after {
  box-sizing: border-box;
}

body {
  position: relative;
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*=====================
  Navigation bar styles
======================*/
nav {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 5%;
  height: 80px;
  background-color: var(--bg-dark-1);
}

nav .logo {
  float: left;
  /* width: 40%; */
  height: 100%;
  display: flex;
  align-items: center;
}

nav .links {
  float: right;
  width: 30%;
  height: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav .links .a-link {
  display: block;
  padding: 1em;
  font-size: 16px;
  font-weight: bold;
  color: var(--skin-color);
  text-decoration: none;
}

#nav-toggle {
  position: absolute;
  top: -100px;
}

nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

nav .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: var(--skin-color);
  margin: 5px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  nav .logo {
    float: none;
    width: auto;
    justify-content: center;
  }

  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 80px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--bg-trans-dark-2);
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }

  nav .links .a-link {
    font-size: 20px;
  }

  nav :checked ~ .links {
    bottom: 300px;
  }

  nav .icon-burger {
    display: block;
  }

  nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }

  nav :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }

  nav :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0;
  }
}

/*=====================
  Search bar styles
======================*/
.box-container {
  margin: auto;
  margin-top: 20%;
  position: relative;
  width: 300px;
  height: 42px;
  border: 4px solid #2980b9;
  padding: 0px 10px;
  border-radius: 50px;
}

.elements-container {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.search-input {
  border: none;
  height: 100%;
  width: 100%;
  padding: 0px 5px;
  border-radius: 50px;
  font-size: 18px;
  color: #424242;
  font-weight: 400;
}

.search-input:focus {
  outline: none;
}

.search-button {
  padding: 0;
  border: none;
  background: none;
}

.search-icon {
  width: 100%;
}

/*=====================
  Loader styles
======================*/
.loading-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}

.loading-text li {
  float: left;
  background: var(--skin-color-2);
  padding: 15px 20px;
  font-size: 20px;
  margin: 10px;
  color: #fff;
  animation: animate 1s infinite alternate;
  perspective: 500px;
  -webkit-perspective: 500px;
}

@keyframes animate {
  from {
    transform: scale(1) translateY(0) rotateX(0deg);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }

  to {
    transform: scale(1.35) translateY(-25px) rotateX(45deg);
    box-shadow: 0 30px 5px rgba(0, 0, 0, 0.1);
  }
}

.loading-text li:nth-child(1) {
  animation-delay: 0.1s;
}
.loading-text li:nth-child(2) {
  animation-delay: 0.2s;
}
.loading-text li:nth-child(3) {
  animation-delay: 0.3s;
}
.loading-text li:nth-child(4) {
  animation-delay: 0.4s;
}
.loading-text li:nth-child(5) {
  animation-delay: 0.5s;
}
.loading-text li:nth-child(6) {
  animation-delay: 0.6s;
}
.loading-text li:nth-child(7) {
  animation-delay: 0.7s;
}

/*=====================
  Home Page styles
======================*/
.home-page {
  border: 2px solid saddlebrown;
  background-color: springgreen;
  height: 100vh;
  margin-top: 80px;
}
